<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />



    <title>Login</title>
    <script>

        function myFunction(){
            if(document.getElementById("Province").value==""){
                alert("Please enter the province")
                return false;
            }
            if(document.getElementById("city").value==""){
                alert("Please enter the city")
                return false;
            }
            if(document.getElementById("Area").value==""){
                alert("Please enter the area")
                return false;
            }
            if(document.getElementById("Province").value==""){
                alert("Please enter the province")
                return false;
            }
        }
    </script>