<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />



    <title>Login</title>

    <script>


    </script>
</head>
<body>
<div class="wrapper "  style="border-style:ridge ;">
    <header>
        <div class="right-head">
            <div class="logo">
                <img src="image/logo.png" alt="logo " width="80" height="80" style=" text-align:center;"/>

            </div>
            <div>
                <input id="Search" name="Search" placeholder="Search" />
            </div>
        </div>
        <div class="left-head">
            <div class="right">
                <img src="image/cart.png" width="40" height="50" alt="addcart" />
            </div>
            <div class="left">
                <img src="image/heart.png" alt="addcart" />
            </div>
        </div>
        <div class ="left-logo">
            <img src="image/Logo.png"width="80" height="80" alt="addcart" />
        </div>
        <!-- <div> <h1>login <br>
          and get <br>
         20% discount <br>
        </h1>
      </div> -->
</div>
</header>

<div class="mid-body">
    <div class="centre-box">
        <h1>Select payment method</h1>
        <div class="container">
            <div class="common debit">
                <img src="image/debit.jpg" alt="">
            </div>
            <div class="common esewa">
                <img src="image/esewa.jpg" alt="">
            </div>
            <div class="common ime">
                <img src="image/ime.jpg" alt="">
            </div>
            <div class="common cash">
                <img src="image/cash.jpg" alt="">
            </div>
        </div>